#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.table-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.column-checkboxes {
  margin: 16px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label:hover {
  text-decoration: underline;
  cursor: pointer;
}

.table-wrapper {
  padding: 0 32px 32px;
  margin-top: 30px;
  background: #fff;
  border-radius: 20px 20px 0 0;
}

.table {
  width: 1190px;
  border-collapse: collapse;
  border-spacing: 0;
  background: #fff;
}

.thead {
  color: var(--table-head);
  text-align: left;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.thead:hover {
  cursor: pointer;
}

.th {
  padding: 0 10px;
  height: 70px;
}

.dropdown-icon {
  height: 18px;
  vertical-align: middle;
}

.tr {
  background: var(--table-row);
  height: 70px;
  transition: box-shadow 0.3s ease-in-out;
  border-top: 1px solid #dbdbdb;
}

.tr:hover {
  cursor: pointer;
  background: var(--background);
}

.td {
  padding: 0 10px;
}

.td:nth-child(1) {
  color: #303972;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.td:nth-child(2) {
  color: #4d44b5;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.td:nth-child(3),
.td:nth-child(5),
.td:nth-child(6),
.td:nth-child(7),
.td:nth-child(8) {
  color: #303972;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.span {
  display: flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  color: #ffffff;
}

.td:nth-child(9) {
  color: #a098ae;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.green-text {
  background: var(--status-green);
}

.red-text {
  background: var(--status-red);
}

.neutral-text {
  background: var(--status-neutral);
}

.pagination-container {
  border-radius: 0 0 20px 20px;
  padding: 0 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}

.pagination-message {
  color: #303972;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.pagination-message_strong {
  font-weight: 700;
}

.pagination {
  margin: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.button {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  width: 50px;
  height: 50px;
  border: 1px solid #4d44b5;
  background: transparent;
  color: #4d44b5;
}

.button:hover {
  cursor: pointer;
}

.button:disabled {
  cursor: not-allowed;
}

.button-highlight {
  background: #4d44b5;
  color: #fff;
}

.button-transparent {
  border: 1px solid transparent;
  background: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.button-transparent:first-of-type {
  background-image: url(./assets//left.svg);
}

.button-transparent:last-of-type {
  background-image: url(./assets//right.svg);
}
