@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background: #f3f4ff;
  --text: #222;
  --table-head: #303972;
  --table-row: #fff;
  --table-col-name: #474747;
  --table-col-type: #5c5c5c;
  --table-row-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  --status-red: #fb7d5b;
  --status-green: #4d44b5;
  --status-neutral: #fcc43e;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: var(--background);
  color: var(--text);
}

h2 {
  font-size: 2.5em;
  line-height: 1.1;
  color: #303972;
}
